.availability{
    background-color: rgb(20, 13, 13);
    color: yellow; 
    width:100%; 
}.flex-container { display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card{
    flex: 0 0 30%;
    box-shadow: 5px 5px darkgrey;
    margin: 10px; 
}

.card-title{
    border: solid 1px lightblue;
    text-align: center;
}
